<main class="main">
  <div class="filmes-container">
    <h1>Filmes</h1>

    <div *ngIf="error" class="error">{{ error }}</div>

    <div class="movies-grid">
      <div *ngFor="let m of movies" class="movie-card">
        <a [routerLink]="['/filmes', m.id]" class="card-link">
          <img *ngIf="m.imageLink" [src]="m.imageLink" alt="{{ m.title }}">
          <div class="card-content">
            <h2>{{ m.title }}</h2>
            <p *ngIf="m.duration">Duração: {{ m.duration }}</p>
          </div>
        </a>
      </div>
    </div>
  </div>

  <footer class="footer">
    <p>© 2025 rev.usp - desenvolvido para a disciplina MAC0350</p>
  </footer>
</main>


<router-outlet></router-outlet>
