<main class="main">
  <header class="header">
    <div class="logo">
      <a routerLink="/">
        <img src="assets/logo2.jpg" alt="LOGO">
      </a>
    </div>
    <nav class="nav-links">
      <a routerLink="/login">Entre ou cadastre-se</a>
      <a href="https://cinusp.webhostusp.sti.usp.br/" target="_blank" rel="noopener">Sobre o CINUSP</a>
    </nav>
  </header>

  <p>
    Aqui, lista de filmes (talvez possa ser um buscador na barra superior ao invés de uma página)
  </p>

  <footer class="footer">
    <p>© 2025 rev.usp - desenvolvido para a disciplina MAC0350</p>
  </footer>
</main>

<router-outlet></router-outlet>
