:host {
  font-size: 1.5rem;
  color: #333;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: 100%;
  background-color: #fff4cd;
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;

  background-image:
    linear-gradient(to right,
    transparent 0%,
    transparent 85%,
    #8c2b0c 85%,
    #8c2b0c 87%,
    transparent 87%,
    transparent 88%,
    #d84315 88%,
    #d84315 90%,
    transparent 90%,
    transparent 91%,
    #f9a825 91%,
    #f9a825 93%,
    transparent 93%,
    transparent 94%,
    #00796b 94%,
    #00796b 96%,
    transparent 96%
    );
}

.detalhe-container {
  width: 65%;
  padding: 2rem 4rem;
}

.back-link {
  display: inline-block;
  margin-bottom: 2rem;
  color: #00796b;
  text-decoration: none;
  font-weight: bold;
}

.back-link:hover {
  text-decoration: underline;
}

.movie-content-wrapper {
  max-width: 900px;

  margin: 0 auto;

  display: flex;
  flex-direction: column;

  gap: 1.5rem;
}

.movie-poster {
  max-width: 900px;
  height: auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.movie-info p {
  text-align: justify;
}



.footer {
  background-color: #c7c7c7;
  color: white;
  text-align: center;
  padding: 1rem;
}

