<main class="main">
  <section class="login-section">
    <div class="login-container">
      <h1>Entre</h1>
      <form>
        <div class="form-group">
          <label for="email">E-mail:</label>
          <input type="email" id="email" placeholder="Digite seu e-mail" required>
        </div>

        <div class="form-group">
          <label for="password">Senha:</label>
          <input type="password" id="password" placeholder="Digite sua senha" required>
        </div>

        <div class="buttons">
          <button type="submit">Entrar</button>
        </div>

        <div class="register-link">
          <a routerLink="/cadastro">Ainda não sou usuário (clique para cadastrar-se)</a>
        </div>
      </form>
    </div>
  </section>

  <footer class="footer">
    <p>© 2025 rev.usp - desenvolvido para a disciplina MAC0350</p>
  </footer>
</main>

<router-outlet></router-outlet>
